.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 50%;
    min-height: 50%;
    padding: 20px;
    background: #f1f2f6;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    opacity: 1;
    animation: fadeIn .2s linear;
}

.popup_header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: #ffa502;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hide-popup {
    opacity: 0;
    animation: hidden .4s linear;
}

@keyframes hidden {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.react-confirm-alert-overlay{
    background: rgba(0,0,0, 0.5)
}